/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   
 main {
	 margin: 0 auto;
	 max-width: 1400px;
	 min-width: 400px;
 }
 footer {
	 max-width: 1400px;
	 min-width: 400px;
	 background: #363855 url(../img/footer-fon.png) no-repeat center top;
	 border-top: 1px solid transparent;
	 border-bottom: 1px solid transparent;
	 box-shadow: 0 5px 3px 0 #808080;
	 margin-bottom: 5px;
 }
 .footer-wrapper {
	 margin: 0 auto;
	 max-width: 1170px;
	 
 }
 .footer-left {
	 display: inline-block;
	 width: 1000px;
	 padding-top: 315px;
	 margin-right: 20px;
 }
 .footer-right {
	 display: inline-block;
	 text-align: right;
	 vertical-align: top;
	 padding-top: 130px;
	 
	 
 }
 .address {
	 position: relative;
	 width: 200px;
	 margin-left: 620px;
	 color: #ffffff;
	 padding-left: 50px;
	 font-family: "Raleway";
	 font-size: 18px;
	 line-height: 24px;
	 margin-bottom: 120px;
 }
 .address::before {
	position: absolute;
	content: url(../img/drop.svg);
	height: 50px;
	left: 0;
	top: 0;
}
.copyright {
	margin-left: 430px;
	width: 320px;
	position: relative;
	text-align: center;
	color: white;
	font-family: "Raleway";
	font-size: 14px;
    line-height: 24px;
	padding-top: 45px;
	margin-bottom: 65px;
}
.copyright::before {
	position: absolute;
	top: 0;
	left: 45%;
	content: url(../img/badge-min.svg);
}
.footer-nav-title {
	color: white;
	font-family: "Raleway";
	font-size: 18px;
	line-height: 36px;
	text-align: right;
}
.footer-nav {
	list-style: none;
	padding-right: 0;
	margin-bottom: 20px;
	font-size: 0px;
}
.footer-nav-item {
	border-bottom: 1px solid #565870;
	padding: 0;
}
.footer-nav .footer-nav-link {
	display: block;
	color: white;
	text-decoration: none;
	font-family: "Raleway";
	font-size: 16px;
    line-height: 36px;
	padding-right: 0;
	text-align: right;
	
}
.footer-nav-item:last-child {
	border-bottom: none;
}
.footer-social {
	margin-bottom: 35px;
}
.footer-social-item {
	display: inline-block;
	vertical-align: top;
}
.footer-social .footer-social-link {
	display: block;
	width: 20px;
	height: 20px;
	
	margin-left: 10px;
}
.footer-social .fb {
	background-image: url(../img/sprite.png);
	background-position: 0 0;
}
.footer-social .tw {
	background-image: url(../img/sprite.png);
	background-position: -35px 0;
}
.footer-social .gl {
	background-image: url(../img/sprite.png);
	background-position: -70px 0;
}
.footer-back-top {
	text-decoration: none;
	color: white;
	font-family: "Raleway";
	font-size: 12px;
    line-height: 36px;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
